@import "~bootstrap/scss/bootstrap.scss";

.center{
  width: 50px;
  margin-left: auto;
  margin-right: auto;
  padding-top:15px;
}

body{
    background-image:url(https://image.freepik.com/vector-gratis/creativas-nubes-blancas-sobre-cielo-azul_108964-1408.jpg) ;
}


.yellow{
    background: yellow;
    width: 50px;
    height: 50px;
    border-radius: 50%;
       border-style: dashed;
    border-color: #DAA520;
}

.green{
    background: #7FFF00;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border-style: dashed;
    border-color: #006400;
}

.red{
    background: red;
    width: 50px;
    height: 50px;
    border-radius: 50%;
       border-style: dashed;
    border-color: #8B0000;
}

.container{
    background:black;
    margin: 0 auto;
    width: 100px;
    height: 200px;
    border-radius: 5%;
    margin-top: 20%;
    border-style: solid;
    border-color: #B8860B;
}

.apagado{
    background: gray;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}